@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-color: hsl(210, 100%, 50%);
  --brand-color-light: hsl(210, 100%, 65%);
  --brand-color-dark: hsl(210, 100%, 30%);
  --text-color: hsl(210, 10%, 15%);
  --text-color-light: hsl(210, 10%, 40%);
  --background-color: hsl(0, 0%, 100%);
  --main-background: hsl(210, 0%, 96%);
  --border-color: hsl(210, 10%, 90%);
  --border-light: hsl(210, 100%, 80%);
  --hover-color: hsl(210, 100%, 90%);
  --button-color: hsl(210, 100%, 50%);
  --button-color-light: hsl(210, 100%, 70%);
  --button-color-dark: hsl(210, 100%, 30%);
  --button-text-color: hsl(0, 0%, 100%);
  --card-background-color: hsl(0, 0%, 100%);
  --card-border-color: hsl(210, 10%, 90%);
  --input-border-color: hsl(210, 10%, 80%);
  --input-background-color: hsl(0, 0%, 100%);
  --input-text-color: hsl(210, 10%, 20%);
  --link-color: hsl(210, 100%, 50%);
  --link-hover-color: hsl(210, 100%, 60%);
  --profile-background: hsl(210, 100%, 95%);
  --danger-color: hsl(0, 100%, 50%);
  --danger-color-light: hsl(0, 100%, 95%);
  --highlight-background: hsl(210, 100%, 93%);
  --status-background: hsl(210, 10%, 95%);
  --stat-card-background1: hsl(210,60%,85%);
  --stat-card-color2: hsl(130, 100%, 40%);
  --stat-card-background2: hsl(130,60%,90%);
  --stat-card-background22: hsl(130,100%,85%);
  --stat-card-color3: hsl(300, 100%, 40%);
  --stat-card-background3: hsl(300,60%,85%);
  --stat-card-color4: hsl(30, 100%, 40%);
  --stat-card-background4: hsl(30,100%,85%);
}

[data-theme='dark'] {
  --brand-color: hsl(210, 100%, 50%);
  --brand-color-light: hsl(210, 100%, 30%);
  --brand-color-dark: hsl(210, 100%, 70%);
  --text-color: hsl(210, 10%, 80%);
  --text-color-light: hsl(210, 10%, 60%);
  --background-color: hsl(210, 10%, 10%);
  --main-background: hsl(210, 15%, 15%);
  --border-color: hsl(210, 10%, 30%);
  --border-light: hsl(210, 100%, 20%);
  --hover-color: hsl(210, 30%, 25%);
  --button-color: hsl(210, 100%, 70%);
  --button-color-light: hsl(210, 100%, 50%);
  --button-color-dark: hsl(210, 100%, 90%);
  --button-text-color: hsl(210, 10%, 10%);
  --card-background-color: hsl(210, 10%, 12%);
  --card-border-color: hsl(210, 10%, 30%);
  --input-border-color: hsl(210, 10%, 40%);
  --input-background-color: hsl(210, 10%, 20%);
  --input-text-color: hsl(210, 10%, 80%);
  --link-color: hsl(210, 100%, 70%);
  --link-hover-color: hsl(210, 100%, 80%);
  --profile-background: hsl(210, 100%, 15%);
  --danger-color-light: hsl(0, 100%, 15%);
  --highlight-background: hsl(210, 100%, 15%);
  --status-background: hsl(210, 10%, 20%);
  --stat-card-background1: hsl(210,30%,20%);
  --stat-card-background2: hsl(130,30%,20%);
  --stat-card-background22: hsl(130,30%,30%);
  --stat-card-background3: hsl(300,30%,20%);
  --stat-card-background4: hsl(30, 30%, 20%);
}

body {
  font-family: sans-serif;  
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}