@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-color: hsl(210, 100%, 50%);
  --brand-color-light: hsl(210, 100%, 70%);
  --brand-color-dark: hsl(210, 100%, 30%);
  --text-color: hsl(210, 10%, 20%);
  --text-color-light: hsl(210, 10%, 40%);
  --background-color: hsl(0, 0%, 100%);
  --border-color: hsl(210, 10%, 90%);
  --hover-color: hsl(210, 100%, 90%);
  --button-color: hsl(210, 100%, 50%);
  --button-color-light: hsl(210, 100%, 70%);
  --button-color-dark: hsl(210, 100%, 30%);
  --button-text-color: hsl(0, 0%, 100%);
  --card-background-color: hsl(0, 0%, 100%);
  --card-border-color: hsl(210, 10%, 90%);
  --input-border-color: hsl(210, 10%, 80%);
  --input-background-color: hsl(0, 0%, 100%);
  --input-text-color: hsl(210, 10%, 20%);
  --link-color: hsl(210, 100%, 50%);
  --link-hover-color: hsl(210, 100%, 60%);
  --profile-background: hsl(210, 100%, 95%);
  --danger-color: hsl(0, 100%, 50%);
  --danger-color-light: hsl(0, 100%, 95%);
  --highlight-background: hsl(210, 100%, 93%);
}

[data-theme='dark'] {
  --brand-color: hsl(210, 100%, 70%);
  --brand-color-light: hsl(210, 100%, 50%);
  --brand-color-dark: hsl(210, 100%, 90%);
  --text-color: hsl(210, 10%, 80%);
  --text-color-light: hsl(210, 10%, 60%);
  --background-color: hsl(210, 10%, 10%);
  --border-color: hsl(210, 10%, 30%);
  --hover-color: hsl(210, 100%, 25%);
  --button-color: hsl(210, 100%, 70%);
  --button-color-light: hsl(210, 100%, 50%);
  --button-color-dark: hsl(210, 100%, 90%);
  --button-text-color: hsl(210, 10%, 10%);
  --card-background-color: hsl(210, 10%, 15%);
  --card-border-color: hsl(210, 10%, 30%);
  --input-border-color: hsl(210, 10%, 40%);
  --input-background-color: hsl(210, 10%, 20%);
  --input-text-color: hsl(210, 10%, 80%);
  --link-color: hsl(210, 100%, 70%);
  --link-hover-color: hsl(210, 100%, 80%);
  --profile-background: hsl(210, 100%, 15%);
  --danger-color-light: hsl(0, 100%, 15%);
  --highlight-background: hsl(210, 100%, 15%);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}